<head>
    <title>Add Item</title>
    <style>
        body {
            background-image: url('https://i.pinimg.com/564x/ee/85/c5/ee85c523aafff237f32416e5fe276114.jpg');
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            color: antiquewhite;
            padding-top: 15px;
        }
    </style>
</head>

<body>
    <h1>Add Item</h1>
    <form method="post" id="item-form">
        {% csrf_token %}
        <table>
            {{ item_form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button type="button" onclick="confirmAddItem()">Add Item</button>
                </td>
            </tr>
        </table>
    </form>

    <script>
        function confirmAddItem() {
            var itemName = document.querySelector('#id_Name').value;
            var itemAmount = document.querySelector('#id_Amount').value;
            var confirmMessage = 'Yakin untuk menambahkan item ' + itemName + ' dengan jumlah ' + itemAmount + ' ?';
            var userConfirmed = confirm(confirmMessage);

            if (userConfirmed) {
                alert("Berhasil menambahkan item "+itemName +" dengan jumlah " + itemAmount + "!");
                document.querySelector('#item-form').submit();
            }
        }
    </script>
</body>
